<h1>LOGIN </h1>
<form action="login" method="post">
   <%- include('partials/messages') -%>
    <div class="form-group">
      <label >Email address</label>
      <input type="email" class="form-control"id="mail" name="mail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label >Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>